<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <div class="row">
        <%= image_tag "logo.png", alt: "Backstage Kennels" %>
      </div>
      <div class="row">
        <%= image_tag "georgia-golden.jpg", class: "img-circle img-responsive center-block", alt: "Golden Retriever" %>
      </div>
      <div class="row">
        <%= image_tag "subheader.png", alt: "Quality PBGVs and Golden Retrievers" %>
      </div>
    </div>
  </div>
</header>

<%= render 'layouts/header' %>

<!-- Page Content -->
<div class="container-fluid content section1" id="mission">

  <!-- <hr class="featurette-divider" id="about"> -->

  <!-- First Featurette -->
  <div class="featurette">
    <%= image_tag "golden_young1.jpg", class: "featurette-image img-circle img-responsive pull-right", alt: "Young Golden Retriever" %>
    <h2 class="featurette-heading">Our mission<br>
      <!-- <span class="text-muted">Our mission </span> -->
    </h2><br>
    <p class="lead">Our mission is to develop the best quality pet and show Golden Retrievers.</p>
    <p class="lead">
      Many of our puppies have gone on to become therapy, show, tracking, and agility dogs.
    </p>
    <p class="lead">
      We strive to have each puppy with the best pedigree!
    </p><br>
    <%= link_to "Click here to see our litters!", "#", class: "pull-right" %>
  </div>
</div>
<div class="divider">
  Duncan is the best dog ever!!!
  <!-- <hr class="featurette-divider"> -->
</div>
<div class="container-fluid section2" id="goldens">
  <!-- Second Featurette -->
  <div class="featurette">
    <%= image_tag  "golden_family.jpg", class: "featurette-image img-circle img-responsive pull-left", alt: "Golden Retriever mother with puppy." %>

    <h2 class="featurette-heading" style="color:gold">Our adults have all their health</h2><br>
    <p class="lead">clearences (hips, elbows & eyes). Backstage puppies come with health certificates and their first set of shots.</p>
    <p class="lead">
      A complete book of information is given to each new owner about their puppy. All of our dogs are bred and raised at home. Each puppy is potty trained before they go to their new homes. They are our family members before they become yours!
    </p>
    <p class="lead">
      The day after our puppies are born, a puppy cam is set up for the potential owners to watch the puppies grow and play.
    </p>
    <p class="lead">
      We occassionally donate a puppy to <%= link_to "Paws for the Cause", "#" %>, located in Naples, FL. Their Mission Paws with a cause enhances the independence and quality of life for people with disabilities through custom-trained assistance dogs.
    </p>
  </div>
</div>




  <hr class="featurette-divider" id="contact">

  <!-- Third Featurette -->
  <div class="featurette">
    <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
    <h2 class="featurette-heading">Section 3
        <span class="text-muted">Contact INfo</span>
    </h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>&copy;Backstage Kennels 2015</p>
        <p>
          Members of The Golden Retriver Club of American and the Treasure Coast Kennel Club.
        </p>
      </div>
    </div>
  </footer>
</div>
<!-- /.container -->
